/* === СВЯТІК ШІСТКА === */
.svyatik {
    text-align: center;
    padding: 40px 20px;
}

.svyatik h2 {
    font-size: 36px;
    color: #ff00ff;
    margin-bottom: 20px;
}

.svyatik-card {
    display: flex;
    justify-content: center;
}

.svyatik-card img {
    width: 300px;
    max-width: 90%;
    border-radius: 20px;
    border: 3px solid #ff00ff;
    transition: 0.3s;
}

.svyatik-card img:hover {
    transform: scale(1.05);
    border-color: #cc00cc;
}


